 
 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>看一看，瞧一瞧</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="流光,社区,摄影">
  <meta name="description" content="流光社区为你提供纯粹美好的摄影分享之家">
  <link rel="stylesheet" href="/res/layui/css/layui.css">
  <link rel="stylesheet" href="/res/css/global.css">
</head>
<body>
<div th:replace="~{fly/html/jie/index :: head_nav }"></div>
<!--<div class="fly-header layui-bg-black">-->
  <!--<div class="layui-container">-->
    <!--<a class="fly-logo" href="/index_jie">-->
      <!--&lt;!&ndash;<img src="/res/images/logo.png" alt="liuguang">&ndash;&gt;-->
    <!--</a>-->
    <!--<ul class="layui-nav fly-nav layui-hide-xs">-->
      <!--&lt;!&ndash;<li class="layui-nav-item layui-this">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="layui-nav-item">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="/case"><i class="iconfont icon-iconmingxinganli"></i>案例</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="layui-nav-item">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--</ul>-->
    <!---->
    <!--<ul class="layui-nav fly-nav-user">-->
      <!---->
      <!--&lt;!&ndash; 未登入的状态 &ndash;&gt;-->
      <!--<li class="layui-nav-item" th:if="!${user.name}">-->
        <!--<a  class="iconfont icon-touxiang layui-hide-xs" href="/fly-3.0/html/user/login.html"></a>-->
      <!--</li>-->
      <!--<li class="layui-nav-item" th:if="!${user.name}">-->
        <!--<a href="/login">登入</a>-->
      <!--</li>-->
      <!--<li class="layui-nav-item" th:if="!${user.name}">-->
        <!--<a href="/reg">注册</a>-->
      <!--</li>-->
      <!--&lt;!&ndash;<li class="layui-nav-item layui-hide-xs">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="/app/qq/" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入" class="iconfont icon-qq"></a>&ndash;&gt;-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="layui-nav-item layui-hide-xs">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" title="微博登入" class="iconfont icon-weibo"></a>&ndash;&gt;-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->
      <!---->
      <!--&lt;!&ndash; 登入后的状态 &ndash;&gt;-->

      <!--<li class="layui-nav-item" id="index_logined" th:if="${user.name}">-->
        <!--<a class="fly-nav-avatar" href="javascript:;">-->
          <!--<cite class="layui-hide-xs" th:text="${user.name}"></cite>-->
          <!--<i th:if="${user.identity}>=1"  class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>-->
          <!--<i class="layui-badge fly-badge-vip layui-hide-xs" th:if="${user.exp}>=1 and ${user.exp}<5 ">摄影爱好者</i>-->
          <!--<i class="layui-badge fly-badge-vip layui-hide-xs" th:if="${user.exp}>=5 and ${user.exp}<15">摄影新秀</i>-->
          <!--<i class="layui-badge fly-badge-vip layui-hide-xs" th:if="${user.exp}>=15 and ${user.exp}<50">摄影师</i>-->
          <!--<img th:src="${user.head_icon}">-->
        <!--</a>-->
        <!--<dl class="layui-nav-child">-->
          <!--<dd><a href="/set"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>-->
          <!--<dd><a href="/message"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>-->
          <!--<dd><a href="/home"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>-->
          <!--<dd><a href="/index_bac" th:if="${user.identity}>=1"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;"></i>我的后台</a></dd>-->
          <!--<hr style="margin: 5px 0;">-->
          <!--<dd><a href="/dologout" style="text-align: center;">退出</a></dd>-->
        <!--</dl>-->
      <!--</li>-->

    <!--</ul>-->
  <!--</div>-->
<!--</div>-->

<div class="fly-panel fly-column" th:fragment="sub_nav">
  <div class="layui-container">
    <ul class="layui-clear">
      <li><a href="/index_ph">摄影故事</a></li>
      <!--<li class="layui-this"><a href="">提问</a></li> -->
      <!--<li><a href="">分享<span class="layui-badge-dot"></span></a></li> -->
      <!--<li><a href="">讨论</a></li> -->
      <li><a href="/ipost">投稿专线</a></li>
      <!--<li><a href="">建议</a></li>-->
      <!--<li><a href="">公告</a></li>-->
      <!--<li><a href="">动态</a></li> -->
      <!--<li><a >管理后台</a></li>-->

      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>
      <!-- 用户登入后显示 -->
      <!--<li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/index_user#index">我发表的贴</a></li>-->
      <!--<li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/index_user#collection">我收藏的贴</a></li>-->
    </ul>
    <div class="fly-column-right layui-hide-xs">

      <span class="fly-search"><i class="layui-icon"></i></span>

      <a href="/add" class="layui-btn">发表新帖</a>
    </div> 
    <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;"> 
      <a href="/add" class="layui-btn">发表新帖</a>
    </div> 
  </div>
</div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8 ">
      <div class="fly-panel" style="margin-bottom: 0;">
        
        <div class="fly-panel-title fly-filter">
          <a href="/index_jie" class="layui-this">综合</a>
          <span class="fly-mid"></span>
          <span th:each="p:${pic}">
            <a th:href="@{/index_jie(post_type=${p.getTag()},page=1)}"  th:text="${p.getTag()}" ></a>
            <span class="fly-mid"></span>
          </span>
          <!--<a href="/index_jie?post_type=美女&page=1" >美女</a>-->
          <!--<span class="fly-mid"></span>-->
          <!--<a href="/index_jie?post_type=自拍&page=1"  >自拍</a>-->
          <!--<span class="fly-mid"></span>-->
          <!--<a href="/index_jie?post_type=动物&page=1"  >动物</a>-->
          <!--<span class="fly-mid"></span>-->
          <!--<a href="/index_jie?post_type=心情&page=1"  >心情</a>-->
          <!--<span class="fly-mid"></span>-->
          <!--<a href="/index_jie?post_type=航拍&page=1"  >航拍</a>-->
          <!--<span class="fly-mid"></span>-->
          <!--<a href="/index_jie?post_type=怀旧&page=1"  >怀旧</a>-->
          <!--<span class="fly-mid"></span>-->
          <!--<a href="/index_jie?post_type=清新&page=1"  >清新</a>-->
          <!--<span class="fly-mid"></span>-->
          <!--<a href="/index_jie?post_type=微观&page=1"  >微观</a>-->
          <!--<span class="fly-mid"></span>-->
          <!--<a href="/index_jie?post_type=风光&page=1">风光</a>-->
          <span class="fly-filter-right layui-hide-xs">
            <!--<a href="" class="layui-this">按最新</a>-->
            <span class="fly-mid"></span>
            <!--<a href="">按热议</a>-->
          </span>
        </div>
        <ul class="fly-list"> <!--普通组!-->
          <li th:each="p:${post}">
            <a th:href="@{/u(poster_id=${p.getPoster_id()})}" class="fly-avatar">
              <img th:src="${p.getHead_icon()}" >
            </a>
            <h2>
              <a class="layui-badge" th:text="${p.post_type}"></a>
              <a th:href="@{/detail(post_id=${p.getPost_id()})}" th:text="${p.getPost_title()}"></a>
            </h2>
            <div class="fly-list-info">
              <a th:href="@{/u(poster_id=${p.getPoster_id()})}" link>
                <cite th:text="${p.getPoster_name()}"></cite>
                <i th:if="${p.getIdentity()}>=1" class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                <i class="layui-badge fly-badge-vip layui-hide-xs" th:if="${p.getExp()}>=1 and ${p.getExp()}<5 ">摄影爱好者</i>
                <i class="layui-badge fly-badge-vip layui-hide-xs" th:if="${p.getExp()}>=5 and ${p.getExp()}<15">摄影新秀</i>
                <i class="layui-badge fly-badge-vip layui-hide-xs" th:if="${p.getExp()}>=15 and ${p.getExp()}<50">摄影师</i>
              </a>
              <span th:text="${p.getPost_time()}"></span>

              <span class="fly-list layui-hide-xs" title="热度"><i class="iconfont ">&#xe60b;</i> [[${p.getClick_count()}]]</span>
              <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
              <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="回答" th:text="${p.getReply_count()}" ></i>
              </span>
            </div>
            <div class="fly-list-badge">
              <span th:if="${p.getPost_nice()}" class="layui-badge layui-bg-red">精帖</span>
            </div>
          </li>


        </ul>

         <div th:if="${post.size()}<=0" class="fly-none">没有相关数据</div>

        <div style="text-align: center" id="all">
          <!--<div class="laypage-main"><a  th:href="@{/index_jie(page=1)}" class="laypage-first" title="首页">首页</a><a th:href="@{/index_jie(page=${page}-1)}"  class="laypage-next">上一页</a><a th:href="@{/index_jie(page=${page}+1)}" class="laypage-next">下一页</a><a th:href="@{/index_jie(page=${total}+1)}" class="laypage-last" title="尾页">尾页</a></div>-->
        </div>
      </div>
    </div>



    <div class="layui-col-md4">
      <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
        <h3 class="fly-panel-title">积极分子</h3>
        <dl >
          <!--<i class="layui-icon fly-loading">&#xe63d;</i>-->
          <dd th:each="wr:${weekRank}">
            <a th:href="@{/u(poster_id=${wr.getId()})}">
              <img th:src="${wr.getHead_icon()}"><cite th:text="${wr.getName()}"></cite><i>[[${wr.getUreply_count()}]]次回答</i>
            </a>
          </dd>

        </dl>
      </div>

      <dl class="fly-panel fly-list-one " th:fragment="hot">
        <dt class="fly-panel-title">热议</dt>
        <dd th:each="w,c:${weekHot}">
          <span><img style="width: 25px" height="25px" th:src="@{/res/images/{filename}(filename=${c.count}+'.gif')}" ></span>
           <a th:href="@{/detail(post_id=${w.getPost_id()})}" th:text="${w.getPost_title()}"></a>
          <span><i class="iconfont icon-pinglun1"></i> [[${w.getReply_count()}]]</span>
        </dd>
        <div th:if="${weekHot.size()<=0}" class="fly-none" >没有相关数据</div>

      </dl>

      <div class="fly-panel">
        <div class="fly-panel-title">
          欢迎加入
        </div>
        <div class="fly-panel-main">
          <img style="width: 350px;height: 350px" src="/uploaded_img/ads/qun.png" >
        </div>
      </div>
      
      <div class="fly-panel fly-link">
        <h3 class="fly-panel-title">友情链接</h3>
        <dl class="fly-panel-main">
          <dd><a href="http://www.youku.com/" target="_blank">优酷</a><dd>
          <dd><a href="http://www.baidu.com/" target="_blank">百度</a><dd>
          <dd><a href="http://www.aiqiyi.com/" target="_blank">爱奇异</a><dd>
          <dd><a href="https://www.bilibili.com/" target="_blank">b站</a><dd>
          <dd><a href="mailto:xianxin@layui-inc.com?subject=%E7%94%B3%E8%AF%B7Fly%E7%A4%BE%E5%8C%BA%E5%8F%8B%E9%93%BE" class="fly-link">申请友链</a><dd>
        </dl>
      </div>

    </div>
  </div>
</div>

<div class="fly-footer">
  <p><a href="http://fly.layui.com/" target="_blank">流光社区</a> 2020 &copy; <a>涛神出品</a></p>
  <p>
    <a href="http://fly.layui.com/jie/3147/" target="_blank">加入我们</a>
    <a href="http://www.layui.com/template/fly/" target="_blank">成为会员</a>
    <a href="http://fly.layui.com/jie/2461/" target="_blank">我要投稿</a>
  </p>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/res/user.js"></script>
<script src="/res/layui/layui.js"></script>
<script>
layui.cache.page = 'jie';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>
<script >
  layui.use('element','jquery', function() {
    var element = layui.element;
    var jquery = layui.jquery;
  })
</script>
</body>
</html>